.git
.gitattributes
.gitignore
.rspec
README.md
spec/*
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
vendor/assets
node_modules/
docker-compose.yml
docker-compose.prod.yml
Dockerfile.development
Dockerfile.production
.circleci/
/public/packs
/public/packs-test
/public/assets
Capfile
config/deploy.rb
config/deploy/production.rb
